html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Убрираем отступы, похоже на костыль. */

body {
  margin: 0;
}

@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Medium'), local('/fonts/TTLakes/TTLakes-Medium'),
    url('fonts/TTLakes/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes/TTLakes-Medium.woff2') format('woff2'),
    url('fonts/TTLakes/TTLakes-Medium.woff') format('woff'),
    url('fonts/TTLakes/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: local('fonts/TTLakes/TT Lakes Condensed Bold'),
    local('fonts/TTLakes/TTLakesCondensed-Bold'),
    url('fonts/TTLakes/TTLakesCondensed-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/TTLakes/TTLakesCondensed-Bold.woff2') format('woff2'),
    url('fonts/TTLakes/TTLakesCondensed-Bold.woff') format('woff'),
    url('fonts/TTLakes/TTLakesCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Скрываем дефолтные кнопки */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------------- */

/* Скрываем дефолтные стрелки-треугольники в details*/

details summary::-webkit-details-marker {
  display: none;
}

summary {
  display: block;
}

/* ----------------------------- */


main {
  background-color: #f8f8f8;
  font-family: 'TT Lakes';
}

.menu {
  display: flex;
  width: 100%;
  height: 88px;
  border: none;
  align-items: center;
}

.menu__column {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.menu__icons {
  width: 40px;
  height: 40px;
  background-color: #ff3e79 !important;
  border-radius: 50%;
  border: none;
}

.menu__icon-burger-menu {
  background: url('images/decorate/css_sprites.png') -117px -76px;
}

.menu__logo {
  height: 52px;
  width: 98px;
  background: url('images/decorate/menu/menu__logo/logo.png')
    no-repeat;
}

.menu__divider {
  align-self: center;
  position: relative;
  width: 2px;
  height: 32px;
  background: #eaeaea;
  border-radius: 1px;
}

.menu__icon-call {
  background: url('images/decorate/css_sprites.png') 197px 75px;
}

.menu__icon-chat {
  background: url('images/decorate/css_sprites.png') 0px 1px;
}

.menu__icon-profile {
  background: url('images/decorate/css_sprites.png') 0px -41px;
}

.menu__divider-2 {
  align-self: center;
  position: relative;
  width: 2px;
  height: 32px;
  background: #eaeaea;
  border-radius: 1px;
}

.menu__icon-repair {
  background: url('images/decorate/css_sprites.png') -40px 0px;
}

.menu__icon-check-status {
  background: url('images/decorate/css_sprites.png') -78px -38px;
}

.page-title {
  display: flex;
}

.page-title__highlight {
  height: 40px;
  width: 4px;
  background: #41f6d7;
  border-radius: 0 4px 4px 0;
}

.page-title__headline {
  font-family: TT Lakes Condensed;
  justify-content: center;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 1.3px;
}

 ul {
   margin: 0;
   padding: 0;
 }

.site-navigation-list__items {
  align-items: baseline;
  position: relative;
  padding: 2px 0;
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
  list-style-type: none;
  align-items: center;
  letter-spacing: -0.1px;
  
}

.site-navigation-list__item {
  padding: 8px 0px;
  margin-left: 20px;
}

.site-navigation-list__item span {
  padding: 8px;
}

.site-navigation-list__span-devices--active {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background: #ffffff;
}

.content-first-page {
  display: flex;
  flex-wrap: nowrap;
}

.content-first-page__container-excerpt {
  font-size: 14px;
  line-height: 20px;
  flex: 1 1 50%;
}

.content-first-page__excerpt {
  overflow: hidden;
}

details[open] .content-first-page__img-read-more, 
details[open] .content-first-page__text-read-more {
  display: none;
}

details[open] .content-first-page__excerpt {
  overflow: none;
  height: 100%;
}

.content-first-page__img-read-more {
  display: inline-block;
  width: 8px;
  height: 11px;
  background: url('images/decorate/css_sprites.png') -76px -88px;
}

.content-first-page__text-read-more:before {
  content: "Читать далее";
  font-size: 16px;
  display: inline-block;
  margin-left: 15px;
  letter-spacing: -0.3px;
}

.content-first-page__container-img {
  flex: 1 1 50%;
}

.content-first-page__signboard-photo {
  width: 100%;
}

@media screen and (max-width: 320px) {

  .menu__column {
    justify-content:space-evenly;
  }

  .menu__column-1 {
    flex-basis:58%;
  }

  .menu__column-2 {
    flex-basis:40%;
  }

  .menu__divider {
    display: none;
  }

  .menu__icon-call {
    display: none;
  }

  .menu__icon-chat {
    display: none;
  }
  
  .menu__icon-profile {
    display: none;
  }

  .page-title__highlight {
    margin-top: 25px;
  }

  .page-title__headline {
    margin: 24px 16px 24px 12px;
  }

  .content-first-page {
    flex-direction:column;
    flex-basis: 100%;
  }

  .content-first-page__container-excerpt {
    margin: 0 16px;
    padding-top: 25px;
    line-height: 18px;
  }
  
  .content-first-page__excerpt {
    overflow: hidden;
    margin-bottom: -8px;
    height: 98px;
  }

  .content-first-page__img-read-more {
    margin-top: 22px;
    margin-left: 8px;
  }

  .content-first-page__signboard-photo {
    margin-top: 17px;
  }
}

@media screen and (min-width: 321px) and (max-width: 769px) {

  .menu {
    justify-content: space-between;
  }

  .menu__column {
    justify-content:space-around;
  }

  .menu__column-1 {
    margin-left: 14px;
    flex-basis: 26%;
  }

  .menu__column-2 {
    margin-right: 17px;
    flex-basis: 40%;
  }

  .main-container {
    margin: 0 24px;
  }

  .page-title {
    margin-left: -24px;
    padding-top: 23px;
  }

  .page-title__headline {
    margin: 2px 16px 24px 21px;
  }

  .site-navigation-list {
    margin: 10px 0 0 -16px;
  }

  .content-first-page {
    margin-top: 30px;
  }

  .content-first-page__excerpt {
    margin-right: 50px;
    height: 159px;
  }

  .content-first-page__img-read-more {
    margin: 16px 0 0 9px;
  }

  .content-first-page__text-read-more {
    margin: 10px 0 0 -2px;
  }

  .content-first-page__signboard-photo {
    border-radius: 6px;
  }
}

@media screen and (min-width: 770px) {

  body {
    background-color: #f8f8f8;
  }

  .menu {
    justify-content: flex-end;
    align-items: flex-end;
  }

  .menu__icons {
    position: relative;
    font-size: 16px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    top: -6px;
    justify-content: flex-end;
  }

  .menu__icon-burger-menu {
    display: none;
  }

  .menu__logo {
    display: none;
  }

  .menu__divider {
    display: none;
  }

  .menu__icon-call {
    display: none;
  }

  .menu__icon-chat {
    display: none;
  }

  .menu__icon-profile {
    display: none;
  }

  .menu__divider-2 {
    display: none;
  }

  .menu__icon-repair {
    right: 191px;
  }

  .menu__icon-repair::before {
    position: relative;
    content: 'Оставить заявку';
    right: 44px;
  }
  
  .menu__icon-check-status {
    right: 31px;
  }
  
  .menu__icon-check-status::before {
    position: relative;
    content: 'Статус ремонта';
    right: 44px;
  }

  .page-title {
    margin-top: -46px;
  }

  .page-title__headline {
    margin: 0 0 12px 30px;
  }

  .site-navigation-list {
    margin-left: 25px;
  }
  
  .site-navigation-list__items {
    overflow: hidden;
    flex-wrap: wrap;
  }

  .site-navigation-list__item {
    margin-bottom: 8px;
  }

  .content-first-page__container-excerpt {
    justify-content: flex-start;
  }

  .content-first-page__container-img {
    justify-content: flex-end;
  }

  .content-first-page__excerpt {
    margin-left: 35px;
    margin-top: 2px;
    letter-spacing: 0.1px;
    max-width: 88%;
  }

  .content-first-page-label__read-more {
    margin: 14px 0 0 41px;
  }

  .content-first-page__img-read-more {
    margin: 19px 0 0 41px;
  }

  .content-first-page__signboard-photo {
    border-radius: 6px;
  }
}
