/*********************** Block 1.3 ***********************/

html {
  font-family: 'TT Lakes';
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Убрираем отступы, похоже на костыль. */

body {
  margin: 0;
}

@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Medium'), local('/fonts/TTLakes/TTLakes-Medium'),
    url('fonts/TTLakes/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes/TTLakes-Medium.woff2') format('woff2'),
    url('fonts/TTLakes/TTLakes-Medium.woff') format('woff'),
    url('fonts/TTLakes/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: local('fonts/TTLakes/TT Lakes Condensed Bold'),
    local('fonts/TTLakes/TTLakesCondensed-Bold'),
    url('fonts/TTLakes/TTLakesCondensed-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/TTLakes/TTLakesCondensed-Bold.woff2') format('woff2'),
    url('fonts/TTLakes/TTLakesCondensed-Bold.woff') format('woff'),
    url('fonts/TTLakes/TTLakesCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Скрываем дефолтные кнопки */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------------- */

/* Скрываем дефолтные стрелки-треугольники в details*/

details summary::-webkit-details-marker {
  display: none;
}

summary {
  display: block;
}

/* ----------------------------- */

.main--block--4 {
  background-color: #f8f8f8;
}

.menu {
  display: flex;
  width: 100%;
  height: 88px;
  border: none;
  align-items: center;
}

.menu__column {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.menu__icons {
  width: 40px;
  height: 40px;
  background-color: #ff3e79 !important;
  border-radius: 50%;
  border: none;
  background-image: url('images/decorate/css_sprites.png');
}

.menu__icon-burger-menu {
  background-position: -179px -76px;
}

.menu__logo {
  height: 52px;
  width: 98px;
  background: url('images/decorate/menu/logo/logo.png') no-repeat;
}

.menu__divider {
  align-self: center;
  position: relative;
  width: 2px;
  height: 32px;
  background: #eaeaea;
  border-radius: 1px;
}

.menu__icon-call {
  background-position: 213px 118px;
}

.menu__icon-chat {
  background-position: -39px 0px;
}

.menu__icon-profile {
  background-position: 0px -41px;
}

.menu__divider-2 {
  align-self: center;
  position: relative;
  width: 2px;
  height: 32px;
  background: #eaeaea;
  border-radius: 1px;
}

.menu__icon-repair {
  background-position: 1px 0px;
}

.menu__icon-check-status {
  background-position: 2px 40px;
}

.page-title {
  display: flex;
}

.page-title__highlight {
  height: 40px;
  width: 4px;
  background: #41f6d7;
  border-radius: 0 4px 4px 0;
}

.page-title__headline {
  font-family: TT Lakes Condensed;
  justify-content: center;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 1.3px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-navigation-list__items {
  align-items: baseline;
  position: relative;
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
  align-items: center;
  letter-spacing: -0.1px;
  margin-left: 8px;
}

.site-navigation-list__items li {
  padding: 10px 8px;
}

.site-navigation-list__items span {
  padding: 7px 12px;
}

.site-navigation-list__span-devices--active {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background: #ffffff;
}

.content-first-page {
  display: flex;
  flex-wrap: nowrap;
}

.content-first-page__container-excerpt {
  font-size: 14px;
  line-height: 20px;
  flex: 1 1 50%;
}

.content-first-page__excerpt {
  overflow: hidden;
}

details[open] .content-first-page__text-read-more,
details[open] .content-first-page__img-read-more {
  display: none;
}

details[open] .content-first-page__excerpt {
  overflow: none;
  height: 100%;
}

.img-read-more {
  display: inline-block;
  width: 8px;
  height: 11px;
  background: url('images/decorate/css_sprites.png') -128px -10px;
}

.text-read-more {
  display: inline-block;
  font-size: 16px;
}

.content-first-page__text-read-more:before {
  content: 'Читать далее';
  margin-left: 15px;
  letter-spacing: -0.3px;
}

.img-read-less {
  display: inline-block;
  width: 8px;
  height: 11px;
  background: url('images/decorate/css_sprites.png') -128px -10px;
  transform: rotate(180deg);
}

.text-read-less {
  display: inline-block;
  font-size: 16px;
  letter-spacing: -0.3px;
}

.content-first-page__img-read-less {
}

.content-first-page__text-read-less:before {
  content: 'Свернуть';
  margin-left: 15px;
}

.content-first-page__container-img {
  flex: 1 1 50%;
}

.content-first-page__signboard-photo {
  width: 100%;
}

@media screen and (max-width: 320px) {
  .menu__column {
    justify-content: space-around;
  }

  .menu__column-1 {
    flex-basis: 53%;
    margin-left: 9px;
  }

  .menu__column-2 {
    flex-basis: 42%;
  }

  .menu__divider {
    display: none;
  }

  .menu__icon-call--block--4 {
    display: none;
  }

  .menu__icon-chat--block--4 {
    display: none;
  }

  .menu__icon-profile--block--4 {
    display: none;
  }

  .page-title__highlight {
    margin-top: 25px;
  }

  .page-title__headline {
    margin: 24px 16px 24px 12px;
  }

  .content-first-page {
    flex-direction: column;
    flex-basis: 100%;
  }

  .content-first-page__container-excerpt {
    margin: 0 16px;
    padding-top: 25px;
    line-height: 18px;
  }

  .content-first-page__excerpt {
    overflow: hidden;
    margin-bottom: -8px;
    height: 98px;
  }

  .content-first-page__img-read-more {
    margin-top: 22px;
    margin-left: 8px;
  }

  .content-first-page__img-read-less {
    margin-top: 22px;
    margin-left: 8px;
  }

  .content-first-page__signboard-photo {
    margin-top: 17px;
  }
}

@media screen and (min-width: 321px) and (max-width: 769px) {
  .menu {
    justify-content: space-between;
  }

  .menu__column {
    justify-content: space-around;
  }

  .menu__column-1 {
    margin-left: 14px;
    flex-basis: 26%;
  }

  .menu__column-2 {
    margin-right: 17px;
    flex-basis: 40%;
  }

  .main-container {
    margin: 0 24px;
  }

  .page-title {
    margin-left: -24px;
    padding-top: 23px;
  }

  .page-title__headline {
    margin: 2px 16px 24px 21px;
  }

  .site-navigation-list {
    margin: 10px 0 0 -16px;
  }

  .content-first-page {
    margin-top: 30px;
  }

  .content-first-page__excerpt {
    margin-right: 50px;
    height: 159px;
  }

  .content-first-page__img-read-more {
    margin: 16px 0 0 9px;
  }

  .content-first-page__text-read-more {
    margin: 10px 0 0 -2px;
  }

  .content-first-page__signboard-photo {
    border-radius: 6px;
  }
}

@media screen and (min-width: 770px) {
  body {
    background-color: #f8f8f8;
  }

  .menu {
    justify-content: flex-end;
    align-items: flex-end;
  }

  .menu__icons--block--4 {
    position: relative;
    font-size: 16px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    top: -6px;
    justify-content: flex-end;
  }

  .menu__icon-burger-menu--block--4 {
    display: none;
  }

  .menu__logo--block--4 {
    display: none;
  }

  .menu__divider {
    display: none;
  }

  .menu__icon-call--block--4 {
    display: none;
  }

  .menu__icon-chat--block--4 {
    display: none;
  }

  .menu__icon-profile--block--4 {
    display: none;
  }

  .menu__divider-2 {
    display: none;
  }

  .menu__icon-repair--block--4 {
    right: 191px;
  }

  .menu__icon-repair--block--4::before {
    position: relative;
    content: 'Оставить заявку';
    right: 44px;
  }

  .menu__icon-check-status--block--4 {
    right: 31px;
  }

  .menu__icon-check-status--block--4::before {
    position: relative;
    content: 'Статус ремонта';
    right: 44px;
  }

  .page-title {
    margin-top: -46px;
  }

  .page-title__headline {
    margin: 0 0 12px 30px;
  }

  .site-navigation-list {
    margin-left: 25px;
  }

  .site-navigation-list__items {
    overflow: hidden;
    flex-wrap: wrap;
  }

  .site-navigation-list__item {
    margin-bottom: 8px;
  }

  .content-first-page__container-excerpt {
    justify-content: flex-start;
    margin-top: 13px;
  }

  .content-first-page__container-img {
    justify-content: flex-end;
  }

  .content-first-page__excerpt {
    margin-left: 35px;
    letter-spacing: 0.1px;
    max-width: 88%;
  }

  .content-first-page-label__read-more {
    margin: 14px 0 0 41px;
  }

  .content-first-page__img-read-more {
    margin: 19px 0 0 41px;
  }

  .content-first-page__signboard-photo {
    border-radius: 6px;
  }
}

/*********************** Block 1.4 mobile-menu ***********************/

.html--block--5 {
  position: absolute;
  left: 0;
  height: 100%;
}

menu {
  margin: 0;
}

.body--block--5 {
  height: 100%;
}

.wrapper--block--5 {
  -webkit-box-shadow: 30px 0px 40px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 30px 0px 40px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 30px 0px 40px 0px rgba(34, 60, 80, 0.2);
  width: 320px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}

.main--block--5 {
  flex: 1 1 auto;
  margin-top: 35px;
}

.header--block--5 {
  height: 100%;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.mobile-menu__close {
  background: url('images/decorate/css_sprites.png') -79px -37px;
}

.menu__logo--block--5 {
  position: relative;
  top: 1px;
  right: 43px;
}

.mobile-menu__search {
  position: relative;
  right: 24px;
  background: url('images/decorate/css_sprites.png') -38px -39px;
}

.mobile-menu-navigation__items {
  display: flex;
  flex-direction: column;
}

.mobile-menu-navigation__items li {
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 16px;
  padding-left: 0;
}

.mobile-menu-navigation__item-equipment-repair--active::before {
  content: '';
  position: absolute;
  top: 12px;
  left: -24px;
  height: 32px;
  width: 4px;
  background: #41f6d7;
  border-radius: 0 4px 4px 0;
}

.mobile-menu-navigation__item-equipment-repair--active {
  position: relative;
  color: #7e7e82;
}

.footer--block--5 {
  margin-bottom: 26px;
}

.footer-menu--block--5 {
  display: flex;
}

.footer-menu--block--5 li {
  margin-right: 16px;
}

.contacts--block--5 a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.contacts__tel {
  font-family: 'TT Lakes Condensed';
  font-size: 24px;
  letter-spacing: 1.3px;
}
.languages {
  margin-top: 41px;
}

.languages__list--block--5 {
  display: flex;
}

.languages__list--block--5 li {
  margin-right: 8px;
}

.languages__RU--active {
  color: #7e7e82;
}

.html--block--5 button:hover,
.html--block--5 button:focus {
  transition: 1s linear;
  opacity: 0.3;
}

/*********************** Block 1.5 services ***********************/

.title--block--6 {
  background-image: linear-gradient(to right, #f2f2f2, #ffffff);
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.brands {
  background-color: #f2f2f2;
}

.brands__items {
  display: flex;
  min-width: 0;
  justify-content: flex-start;
  margin: 12px;
}

.brands-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  height: 72px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background: #ffffff;
  padding: 16px;
  margin: 12px;
}

.brands__logo {
  background-image: url('images/decorate/brands/css_sprites.png');
}

.brands__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ff3e79;
  background: url('images/decorate/css_sprites.png') -214px -75px;
}

.brands__logo-Lenovo {
  width: 108px;
  height: 32px;
  background-position: -10px -115px;
}

.brands__logo-Samsung {
  width: 116px;
  height: 39px;
  background-position: -10px -10px;
}

.brands__logo-Apple {
  width: 44px;
  height: 44px;
  background-position: -82px -167px;
}

.brands__logo-ViewSonic {
  width: 128px;
  height: 21px;
  background-position: -138px -115px;
}

.brands__logo-Bosch {
  width: 128px;
  height: 30px;
  background-position: -146px -10px;
}

.brands__logo-Hewlett-Packard {
  width: 52px;
  height: 52px;
  background-position: -10px -167px;
}

.brands__logo-Acer {
  width: 94px;
  height: 24px;
  background-position: -158px -69px;
}

.brands__logo-Sony {
  width: 128px;
  height: 26px;
  background-position: -10px -69px;
}

.text-read-more--block--6:before {
  content: 'Показать всё';
  position: relative;
}

.text-read-less--block--6:before {
  content: 'Скрыть';
  position: relative;
}

@media screen and (max-width: 320px) {
  .read-more--block--6,
  .read-less--block--6 {
    display: none;
  }

  .title--block--6 {
    letter-spacing: -0.4px;
    inline-size: 320px;
    padding: 18px 16px 18px 16px;
  }

  .swiper {
    width: 320px;
    height: 154px;
    background-color: #f2f2f2;
  }

  .brands-container {
    padding: 16px;
    margin: 16px 1px 10px 15px;
  }

  .swiper-horizontal > .swiper-pagination-bullets {
    bottom: 32px;
  }

  .swiper-pagination-bullet {
    left: 0;
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: #dddddd;
  }

  .swiper-pagination-bullet-active {
    background-color: #b5b6bc;
  }
}

@media screen and (min-width: 321px) and (max-width: 769px) {
  .title--block--6 {
    padding: 16px 24px;
    letter-spacing: -0.4px;
  }

  .brands-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 13px 0px 26px 11px;
  }

  .brands-container {
    width: 224px;
    margin: 13px 11px 3px 13px;
  }

  .brands__items {
    margin-bottom: 17px;
  }

  details.details--block--6 .brands-container--details-off--768 {
    display: none;
  }

  details[open].details--block--6 .brands-container--details-off--768 {
    display: flex;
  }

  details.details--block--6 .read-less--block--6 {
    display: none;
  }

  details[open].details--block--6 .read-less--block--6 {
    display: flex;
    align-items: center;
  }

  details.details--block--6 .read-more--block--6 {
    display: flex;
    align-items: center;
  }

  details[open].details--block--6 .read-more--block--6 {
    display: none;
  }

  .read-more--block--6,
  .read-less--block--6 {
    margin: -4px 0px 35px 31px;
  }

  .text-read-more--block--6:before,
  .text-read-less--block--6:before {
    left: 18px;
  }

  .swiper-pagination {
    display: none;
  }
}

@media screen and (min-width: 770px) {
  .title--block--6 {
    padding: 17px 33px;
    letter-spacing: -0.4px;
  }

  .brands-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px 23px 11px;
  }

  .brands-container {
    margin: 14px 11px 2px 21px;
  }

  .read-more--block--6,
  .read-less--block--6 {
    display: flex;
    margin: 0 0 34px 39px;
    letter-spacing: -0.2px;
  }

  .text-read-more--block--6:before,
  .text-read-less--block--6:before {
    left: 16px;
  }

  details.details--block--6 .brands-container--details-off--1120 {
    display: none;
  }

  details[open].details--block--6 .brands-container--details-off--1120 {
    display: flex;
  }

  details.details--block--6 .read-less--block--6 {
    display: none;
  }

  details[open].details--block--6 .read-less--block--6 {
    display: flex;
    align-items: center;
  }

  details.details--block--6 .read-more--block--6 {
    display: flex;
    align-items: center;
  }

  details[open].details--block--6 .read-more--block--6 {
    display: none;
  }

  .swiper-pagination {
    display: none;
  }
}
